# Python
.venv/
__pycache__/
*.pyc

# Environment
.env

# Database
*.db
*.db-shm
*.db-wal

# Node modules (IMPORTANT)
node_modules/
frontend/node_modules/

# Build files
dist/
build/

# VS Code
.vscode/